root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{json,yml,yaml}]
tab_width = 2
indent_size = 2

[*.{js,jsx,ts,tsx,mjs,cjs}]
indent_style = tab
tab_width = 2
indent_size = 2

[*.{cs,csx,vb,fs,fsx,csproj,vbproj,fsproj,props,targets,sln,slnx,xml,config,razor,cshtml}]
indent_style = tab
tab_width = 4
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
